html {
    box-sizing: border-box;
    }
    *, *:before, *:after {
    box-sizing: inherit;
    }

body {
    font-family: 'Open Sans', sans-serif;
    padding-top: 50px;
    background-color: rgb(255, 255, 255);
}

.section-header{
    font-size: 2rem;
    font-weight: 600;
    padding-bottom: .5rem;
    text-align: center;
    padding-top: 1rem;
}
/* SKILLS */

#skills {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    background-color: rgba(54, 88, 150, 0.801);
    padding: 20px 10px;
    color: aliceblue;
}

#container {
    padding-bottom: 1rem;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    text-align: center;
    padding-top: 1rem;
}

.icon-container {
    display: grid;
    grid-template-rows: 1fr 1fr;
    justify-content: center;
    align-items: end;
    text-align: center;
    padding: 20px;
}

.icon-name {
    font-size: 1.4rem;
    padding-bottom: 2px;
    vertical-align: bottom;
}

.icon-container i {
    font-size: 2rem;
}

/* Contact Area */
#contact {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 10px;
    padding-bottom: 60px;
}

#contact a {
    text-decoration: none;
}

.contact-icons {
    display: flex;
    justify-content: space-around;
    width: 90%;
}

#contact i {
    font-size: 45px;
    transition: all ease .2s;
}


.hidden {
    visibility: hidden;
}




